# API Configuration
PORT=8000
HOST=0.0.0.0

# Domain Configuration (for Nginx Proxy)
VIRTUAL_HOST=xflow-api.gsduran.es
VIRTUAL_PORT=8000
LETSENCRYPT_HOST=xflow-api.gsduran.es
LETSENCRYPT_EMAIL=gsduran@gsduran.es

# GitHub Jobs Configuration
GITHUB_JOBS_URL=https://github.com/GSDDev/XFlow-jobs

# Database Configuration
DATABASE_URL=postgresql://xflow_user:xflow_password@db:5432/xflow_db
